---
import { getEntries } from 'astro:content';
import BaseLayout from '../BaseLayout.astro';
import { getEntry } from 'astro:content';
import type { string } from 'astro:schema';
import SectionLoop from '../../components/SectionLoop/SectionLoop.astro';
import { getCollection } from 'astro:content';
import Icon from '../../components/Icon/Icon.astro';
import { objectSorter } from '../../scripts/helpers';

const { frontmatter } = Astro.props;

const { title, description, order, roles, technologies, sections } =
  frontmatter;

const rolesData: {
  id: string;
  collection: string;
  data: { title: string; description: string };
}[] = [];

for (const role of roles) {
  const roleData = await getEntry('roles', role);
  rolesData.push(roleData);
}

const technologiesData: {
  id: string;
  collection: string;
  data: { title: string; url: string };
}[] = [];

for (const tech of technologies) {
  const techData = await getEntry('technologies', tech);
  technologiesData.push(techData);
}

// console.log(order + 1);

const allCS = await getCollection('case-studies').then((data) =>
  data.sort((a, b) => objectSorter(a.data.order, b.data.order))
);

const nextCS =
  allCS.filter((cs) => {
    return cs.data.order === order + 1;
  })[0] || allCS[0];

const prevCS =
  allCS.filter((cs) => {
    return cs.data.order === order - 1;
  })[0] || allCS[allCS.length - 1];

console.log('nextCS', nextCS);
console.log('prevCS', prevCS);
// const [nextCS] = await getCollection('case-studies', ({ data }) => {
//   return data.order === order + 1;
// });
---

<BaseLayout pageTitle={title}>
  <header>
    <h1>{title}</h1>
    <h2>Roles</h2>
    <ul>
      {rolesData.map((role) => <li>{role.data.title}</li>)}
    </ul>
    <h2>Technologies</h2>
    <ul>
      {
        technologiesData.map((tech) => (
          <li>
            <a href="#" target="_blank">
              {tech.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </header>

  <SectionLoop sections={sections} />

  <footer>
    <Icon
      icon="arrow-left"
      link={`/case-studies/${prevCS.slug}`}
      label={prevCS.data.title}
      labelPos="right"
      fontSize="var(--type-scale-h5)"
      hoverShift
    />
    <Icon
      icon="arrow-right"
      link={`/case-studies/${nextCS.slug}`}
      label={nextCS.data.title}
      labelPos="left"
      fontSize="var(--type-scale-h5)"
      hoverShift
    />
  </footer>
</BaseLayout>

<style>
  @import './case-study-layout.css';
</style>
