---
import { getEntries } from "astro:content";
import Icon from "../Icon/Icon.astro";
import { applyClasses } from "../../scripts/helpers";

const { cs, index, count } = Astro.props;
const { id, data } = cs;
const { title, description, roles, technologies, featureImg } = data;

const rolesData: Category[] = await getEntries(roles);
const technologiesData: Category[] = await getEntries(technologies);

const flipped = index % 2 === 1;

const classes = ["cs-preview"];

// if (flipped) {
//   classes.push("cs-preview--flipped");
// }
---

<section id={id} class={applyClasses(classes)} tabindex="0">
  <div class="cs-preview__img">
    <img src={featureImg.src} alt={featureImg.alt} />
  </div>

  <div class="cs-preview__content">
    <strong class="cs-preview__number scroll-item">
      Case Study <span class="bold color-highlight">0{index + 1}</span>/0{count}
    </strong>
    <h2 class="cs-preview__title scroll-item">{title}</h2>
    <p class="cs-preview__desc scroll-item">{description}</p>
    <div class="cs-preview__info scroll-item">
      <h3 class="cs-preview__subtitle">Roles</h3>
      <ul class="cs-preview__list">
        {rolesData.map((role) => <li class="">{role.data.title}</li>)}
      </ul>
    </div>
    <div class="cs-preview__info scroll-item">
      <h3 class="cs-preview__subtitle">Technologies</h3>
      <ul class="cs-preview__list">
        {technologiesData.map((tech) => <li class="">{tech.data.title}</li>)}
      </ul>
    </div>

    <Icon
      icon="arrow-right"
      class="bold scroll-item"
      link={`/case-studies/${id}`}
      label="View case study"
      ratio="100 / 65"
      labelPos="left"
      size="1.25em"
      hoverShift={true}
      fontSize="var(--type-scale-h5)"
    />
  </div>
</section>
<div class="divider"></div>

<style>
  @import "./case-study-preview.css";
</style>

<script>
  import "./case-study-preview.js";
</script>
