---
import { getEntry } from "astro:content";
import { applyClasses } from "../../../scripts/helpers";
import SectionContent from "../SectionContent/SectionContent.astro";

const { section } = Astro.props;

const { pre_title, title, content, cards, classes } = section;

const sectionClasses = ["section", "technologies-cards"];

const technologiesCards: {
  id: string;
  heading: string;
  img: {
    src: string;
    alt: string;
  };
  content: string;
}[] = [];

for (const card of cards) {
  const techData = await getEntry("technologies", card.id);
  if (techData) {
    technologiesCards.push({
      id: techData.id,
      heading: techData.data.title,
      content: card.content,
      img: techData.data.img,
    });
  }
}
---

<section class={applyClasses(sectionClasses, classes)}>
  <SectionContent pre_title={pre_title} title={title} content={content} />

  {
    technologiesCards.map(({ id, heading, content, img }) => (
      <div
        id={id}
        class={`technologies-cards__card technologies-cards__card--${id}`}
      >
        <div class="technologies-cards__img scroll-item">
          <img src={img.src} alt={img.alt} />
        </div>
        <div class="technologies-cards__content">
          {/* <h3 class="technologies-cards__heading">{heading}</h3> */}
          <p class="technologies-cards__text scroll-item">{content}</p>
        </div>
      </div>
    ))
  }
</section>

<style>
  @import "./technologies-cards.css";
</style>

<script>
  import "./technologies-cards";
</script>
