---
import { applyClasses } from "../../scripts/helpers";
import Divider from "../Divider/Divider.astro";
import Icon from "../Icon/Icon.astro";

const { title, items, shortTitles } = Astro.props;

const classes = ["quick-links"];

if (shortTitles) {
  classes.push("quick-links--short-titles");
}
---

<section class={applyClasses(classes)} tabindex="0">
  <h2 class="quick-links__heading scroll-item">{title}</h2>

  <ul class="quick-links__list">
    {
      items.map(({ title: catTitle, text, link, label }) => (
        <li class="quick-links__item">
          <div class="quick-links__header scroll-item">
            <h3 class="quick-links__title">{catTitle}</h3>
            {shortTitles && (
              <Divider
                class="scroll-item scroll-item--divider"
                disableAnimation
              />
            )}
          </div>
          <div class="quick-links__content scroll-item scroll-item--grouped">
            <p class="quick-links__desc">{text}</p>
            <Icon
              icon="arrow-right"
              class="bold"
              link={link}
              label={label || "Learn more"}
              ratio="100 / 65"
              labelPos="left"
              size="1.25em"
              fontSize="var(--type-scale-h6)"
              hoverShift
              hoverExpand={true}
            />
          </div>
        </li>
      ))
    }
  </ul>
</section>
<Divider />

<style>
  @import "./quick-links.css";
</style>

<script>
  import "./quick-links.js";
</script>
