---
import { applyClasses } from "../../../scripts/helpers";
import SectionContent from "../SectionContent/SectionContent.astro";

interface Props {
  section: Section;
}

const { section } = Astro.props;

const { pre_title, title, content, img, classes, link } = section;

const sectionClasses = ["section", "split-content"];
---

<section class={applyClasses(sectionClasses, classes)}>
  {
    img && (
      <div class="section__img">
        <img src={img.src} alt={img.alt} />
      </div>
    )
  }

  <SectionContent
    pre_title={pre_title}
    title={title}
    content={content}
    link={link}
  />
</section>

<style>
  @import "./split-content.css";
</style>

<script>
  import "./split-content";
</script>
