---
import {
  applyClasses,
  applyClassesConditional,
} from "../../../scripts/helpers";
import Icon from "../../Icon/Icon.astro";

const { section } = Astro.props;

const { title, content, img, classes, link } = section;

const longContent = content.length > 750;

const sectionClasses = ["section", "split-content"];
---

<section class={applyClasses(sectionClasses, classes)}>
  {
    img && (
      <div class="section__img">
        <img src={img.src} alt={img.alt} />
      </div>
    )
  }
  <div class="section__content">
    <h2 class="section__title scroll-item">{title}</h2>
    {
      content && (
        <p
          class={applyClassesConditional(
            ["section__text", "scroll-item"],
            "section__text--long",
            longContent,
          )}
        >
          {content}
        </p>
      )
    }
    {
      link &&
        (link.icon ? (
          <Icon
            class="section__link scroll-item"
            icon={link.icon}
            label={link.label}
            labelPos="right"
            size="1.5em"
            fontSize="var(--type-scale-h6)"
            link={link.url}
            newTab
          />
        ) : (
          <Icon
            class="section__link scroll-item"
            icon="arrow-right"
            label={link.label}
            labelPos="left"
            size="1.5em"
            fontSize="var(--type-scale-h6)"
            link={link.url}
            newTab
          />
        ))
    }
  </div>
</section>

<style>
  @import "./split-content.css";
</style>

<script>
  import "./split-content";
</script>
