---
import { combineClasses, combineStyles } from '../../scripts/helpers';

const {
  link,
  icon,
  label,
  size,
  color,
  hover,
  labelPos,
  ratio,
  fontSize,
  hoverShift,
  hoverExpand,
  class: extraClasses,
} = Astro.props;

const classes = ['icon'];

if (extraClasses) {
  classes.push(extraClasses);
}

if (hoverShift) {
  classes.push('icon--hover-shift');
}

if (hoverExpand) {
  classes.push('icon--hover-expand');
}

const styles: object[] = [];

if (size) {
  styles.push({ prop: '--size', value: size });
}

if (color) {
  styles.push({ prop: '--color', value: color });
}

if (hover) {
  styles.push({ prop: '--hover', value: hover });
}

if (ratio) {
  styles.push({ prop: '--ratio', value: ratio });
}

if (fontSize) {
  styles.push({ prop: '--fontSize', value: fontSize });
}

const IconTag = link ? 'a' : 'span';
---

<style define:vars={{ size, color, hover }}>
  @import './icon.css';
</style>

<IconTag
  class={combineClasses(classes)}
  href={link}
  style={combineStyles(styles)}
>
  {labelPos === 'left' && <span>{label}</span>}
  <i>
    <svg>
      <use xlink:href={`/images/icons.svg#${icon}`}></use>
    </svg>
  </i>
  {
    labelPos !== 'left' && (
      <span class={labelPos !== 'right' ? 'srt' : ''}>{label}</span>
    )
  }
</IconTag>
