---
import Toggle from "../Toggle/Toggle.astro";
import Icon from "../Icon/Icon.astro";
import { getCollection } from "astro:content";
import { applyClassesConditional, objectSorter } from "../../scripts/helpers";
import { socials } from "../../scripts/socials";
import Divider from "../Divider/Divider.astro";

const isHome = Astro.url.pathname === "/";

const LogoTag = isHome ? "h1" : "strong";

const allCaseStudies = await getCollection("case-studies").then((data) =>
  data.sort((a, b) => objectSorter(a.data.order, b.data.order)),
);

const links = [
  {
    href: `/#${allCaseStudies[0].id}`,
    label: "Work",
  },
  {
    href: "/#about",
    label: "About",
  },
  {
    href: "/teaching",
    label: "Teaching",
  },
];
---

<header
  id="navbar"
  class={applyClassesConditional("navbar", "navbar--animate", isHome)}
>
  <a class="navbar__home" href="/">
    <LogoTag class="navbar__logo">Adam Robillard</LogoTag>
  </a>

  <Toggle target="nav" />

  <Divider desktopOnly />

  <nav id="nav" class="navbar__nav">
    <ol class="navbar__list">
      {
        links.map((link) => (
          <li>
            <a
              class="navbar__link"
              href={link.href}
              aria-current={link.href === Astro.url.pathname}
            >
              {link.label}
            </a>
          </li>
        ))
      }
    </ol>
  </nav>

  <Divider desktopOnly />

  <ul class="navbar__socials">
    {
      socials.map((social) => (
        <li class="navbar__social">
          <Icon
            icon={social.icon}
            link={social.link}
            label={social.label}
            class="navbar__icon"
          />
        </li>
      ))
    }
  </ul>
</header>

<style>
  @import "./navbar.css";
</style>

<script>
  import "./navbar.js";
</script>
