---
import Icon from './Icon.astro';
import Toggle from './Toggle.astro';

const links = [
  {
    href: '#work',
    label: 'Work',
  },
  {
    href: '/about',
    label: 'About',
  },
  {
    href: '#contact',
    label: 'Contact',
  },
];

const socials = [
  {
    link: 'https://github.com/arobillard',
    label: 'GitHub',
    icon: 'github',
  },
  {
    link: 'https://www.linkedin.com/in/adam-robillard/',
    label: 'LinkedIn',
    icon: 'linkedin',
  },
  {
    link: 'mailto:hello@adamrobillard.ca',
    label: 'Email',
    icon: 'email',
  },
];

const LogoTag = Astro.url.pathname === '/' ? 'h1' : 'strong';
---

<header id="navbar" class="navbar">
  <a class="home-link" href="/">
    <LogoTag class="logo">Adam Robillard</LogoTag>
  </a>

  <Toggle target="nav" />

  <nav id="nav">
    <ol>
      {
        links.map((link) => (
          <li>
            <a href={link.href} aria-current={link.href === Astro.url.pathname}>
              {link.label}
            </a>
          </li>
        ))
      }
    </ol>
  </nav>

  <ul class="socials">
    {
      socials.map((social) => (
        <li>
          <Icon icon={social.icon} link={social.link} label={social.label} />
        </li>
      ))
    }
  </ul>
</header>

<style>
  .navbar {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto 0fr;
    align-items: center;
    padding-block: 1rem;
    position: sticky;
    top: 0;
    background-color: rgba(from var(--color-bg) r g b / 0.95);
    transition: background-color 0.2s;

    &::before {
      content: ' ';
      display: inline-block;
      position: absolute;
      inset: 0 -4.1666667vw;
      transition: opacity var(--transition)
      /* background-color: red; */
      -webkit-backdrop-filter: blur(0.25rem);
      backdrop-filter: blur(0.25rem);
    }
  }

  a {
    text-decoration: none;
    color: var(--color-text);
    transition:
      color var(--transition),
      opacity var(--transition),
      translate var(--transition),
      transform var(--transition);

    &:where(:hover, :focus-visible) {
      color: var(--color-highlight, var(--color-green));
    }
  }

  .home-link {
    grid-column: span 16;
    position: relative;
    z-index: 1;

    container-type: inline-size;

    @media screen and (min-width: 60rem) {
      display: flex;
      align-items: center;
      gap: 3rem;
      grid-column: span 6;

      &::after {
        content: ' ';
        display: block;
        height: 0.0625rem;
        background-color: #fff;
        flex: 1;
      }
    }
  }

  .logo {
    font-size: var(--type-scale-h3);
    line-height: 1;
    display: block;
    margin: 0;
    white-space: nowrap;
    letter-spacing: -0.125rem;

    font-weight: 850;
    font-variation-settings:
      'wdth' 125,
      'YTLC' 540;
  }

  nav {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(from var(--color-bg) r g b / 0.95);
    -webkit-backdrop-filter: blur(0.25rem);
    backdrop-filter: blur(0.25rem);

    display: grid;
    grid-template-columns: repeat(24, 1fr);

    padding-block: 6rem;

    opacity: 0;
    pointer-events: none;

    transition: opacity var(--transition);

    &.open {
      opacity: 1;
      pointer-events: all;
    }

    @media (min-width: 60rem) {
      position: relative;
      width: unset;
      height: unset;
      background-color: unset;
      -webkit-backdrop-filter: none;
      backdrop-filter: none;

      display: flex;
      align-items: center;
      gap: 3rem;

      padding: 0;
      opacity: 1;
      pointer-events: all;

      grid-column: span 10;

      &::before,
      &::after {
        content: ' ';
        display: block;
        height: 0.0625rem;
        background-color: #fff;
        flex: 1;
      }
    }

    ol {
      grid-column: 2 / -2;
      padding: 0;
      margin: 0;
      list-style-type: none;
      font-size: var(--type-scale-h1);

      @media (min-width: 60rem) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        font-size: var(--type-scale-h6);
        line-height: 1.1;
      }

      li {
        grid-column: 1 / -1;
      }

      a {
        padding-block: 1rem;
        display: block;
        opacity: 0;
        translate: 3rem;
        font-variation-settings:
          'wdth' 100,
          'YTLC' 500;

        &.in {
          opacity: 1;
          translate: 0;
        }

        @media (min-width: 60rem) {
          opacity: 1;
          translate: 0;
          padding: 0;
        }

        /* &:is(:hover, :focus-visible) {
          font-weight: 850;
          font-variation-settings:
            'wdth' 125,
            'YTLC' 540;
          color: var(--color-text);
        } */
      }
    }
  }

  .socials {
    position: fixed;
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    inset-inline-start: 0;
    inset-block-end: 3rem;
    width: 100%;
    opacity: 0;
    pointer-events: none;

    transition: opacity var(--transition);

    .open + & {
      opacity: 1;
      pointer-events: all;
    }

    @media (min-width: 60rem) {
      opacity: 1;
      pointer-events: all;
      position: relative;
      inset-block-end: unset;
      width: unset;

      display: flex;
      justify-content: end;
      align-items: center;
      gap: 1.5rem;
      grid-column: span 6;

      &::before {
        content: ' ';
        display: block;
        height: 0.0625rem;
        background-color: #fff;
        flex: 1;
        margin-inline-end: 1.5rem;
      }

      .icon {
        --size: 1.5rem;
      }
    }

    li {
      display: flex;
      justify-content: center;
      grid-column: span 6;

      a {
        color: #fff;
        transition: all var(--transition);
        &:where(:hover, :focus-visible) {
          color: var(--color-highlight, var(--color-green));
        }
      }

      &:first-child {
        grid-column: 4 / span 6;
      }
    }
  }
</style>
