---
import { applyClasses } from "../../../scripts/helpers";
import Icon from "../../Icon/Icon.astro";

const { section } = Astro.props;

const { title, cards, classes, link } = section;

const sectionClasses = ["section", "info-cards"];
---

<section class={applyClasses(sectionClasses, classes)}>
  <div class="section__content">
    <h2 class="section__title">{title}</h2>
  </div>

  {
    cards.map(({ heading, content, img }) => (
      <div class="info-cards__card">
        {img && (
          <div class="info-cards__img scroll-item">
            <img src={img.src} alt={img.alt} />
          </div>
        )}
        <div class="info-cards__content">
          <h3 class="info-cards__heading scroll-item">{heading}</h3>
          <p class="info-cards__text scroll-item scroll-item--grouped">
            {content}
          </p>
          {link &&
            (link.icon ? (
              <Icon
                class="section__link scroll-item"
                icon={link.icon}
                label={link.label}
                labelPos="right"
                link={link.url}
                newTab
              />
            ) : (
              <Icon
                class="section__link scroll-item"
                icon="arrow-right"
                label={link.label}
                labelPos="left"
                link={link.url}
                newTab
              />
            ))}
        </div>
      </div>
    ))
  }
</section>

<style>
  @import "./info-cards.css";
</style>

<script>
  import "./info-cards";
</script>
