---
import { getCollection, getEntry } from "astro:content";
import Icon from "../../components/Icon/Icon.astro";
import SectionLoop from "../../components/SectionLoop/SectionLoop.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { objectSorter } from "../../scripts/helpers";

export async function getStaticPaths() {
  const caseStudies = await getCollection("case-studies");

  return caseStudies.map((cs) => ({
    params: { id: cs.id },
    props: { cs },
  }));
}

const { cs } = Astro.props;

const { title, description, order, roles, technologies, sections, featureImg } =
  cs.data;

const rolesData: Category[] = [];

for (const role of roles) {
  const roleData = await getEntry("roles", role.id);
  if (roleData) {
    rolesData.push({
      id: roleData.id,
      data: roleData.data,
      collection: role.collection,
    });
  }
}

const technologiesData: Category[] = [];

for (const tech of technologies) {
  const techData = await getEntry("technologies", tech.id);
  if (techData) {
    technologiesData.push({
      id: techData.id,
      data: techData.data,
      collection: tech.collection,
    });
  }
}

const allCS = await getCollection("case-studies").then((data) =>
  data
    .filter((cs) => cs.data.active)
    .sort((a, b) => objectSorter(a.data.order, b.data.order)),
);

const nextCS = allCS.find((cs) => cs.data.order === order + 1) || allCS[0];

const prevCS =
  allCS.find((cs) => {
    return cs.data.order === order - 1;
  }) || allCS[allCS.length - 1];
---

<BaseLayout pageTitle={title}>
  <header class="cs-header">
    <div class="cs-header__img">
      <img src={featureImg.src} alt={featureImg.alt} />
    </div>
    <div class="cs-header__content">
      <h1 class="cs-header__headline">{title}</h1>
      <p class="cs-header__byline">{description}</p>
      <div class="cs-header__block">
        <h2 class="cs-header__sub-head">Roles</h2>
        <ul class="cs-header__list">
          {rolesData.map((role) => <li>{role.data.title}</li>)}
        </ul>
      </div>
      <div class="cs-header__block">
        <h2 class="cs-header__sub-head">Technologies</h2>
        <ul class="cs-header__list">
          {
            technologiesData.map((tech) => (
              <li>
                <a href={tech.data.url} target="_blank">
                  {tech.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </header>

  <SectionLoop sections={sections} />

  <footer class="cs-footer">
    <Icon
      icon="arrow-left"
      size="2rem"
      link={`/case-studies/${prevCS.id}`}
      label={prevCS.data.title}
      labelPos="right"
      fontSize="var(--type-scale-h5)"
      hoverShift
    />
    <Icon
      icon="arrow-right"
      size="2rem"
      link={`/case-studies/${nextCS.id}`}
      label={nextCS.data.title}
      labelPos="left"
      fontSize="var(--type-scale-h5)"
      hoverShift
    />
  </footer>
</BaseLayout>

<style>
  @import "./_case-study-layout.css";
</style>
